nav {
    background: linear-gradient(to right, #0b5295, #010c1d);
    color: #fff;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 20%;
            margin: 0;
            li {
                cursor: pointer;
                font-size: 22px;
                color: #fff;
                text-decoration: none;
            }
        }
    }

}